<div class="row">
    <div class="col-xs-12"><img [src]="recipe_detail.imagePath" alt="recipe_detail.name" class="img-rsponsive"
        style="max-height: 100px;"></div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Recipe Name: {{ recipe_detail.name }}</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group" >
            <button type="button" appDropdownDirective class="btn btn-primary dropdown-toggle">
                Manage Recipe <span class="caret"></span>
                <ul class="dropdown-menu">
                    <li><a (click)="onAddToShoppingList()" style="cursor: pointer">Add Ingredients to Shopping List</a></li>
                    <li><a  style="cursor: pointer" (click)="onEditRecipe()">Edit Recipe</a></li>
                    <li><a  style="cursor: pointer">Delete Recipe</a></li>
                </ul>
            </button></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">Descriptrion: {{ recipe_detail.description }}</div>
</div>
<div class="row">
    <div class="col-xs-12">Ingredients: 
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let ingredient of recipe_detail.ingredients">
                {{ingredient.name}} - {{ingredient.amount}}
            </li>
        </ul>
    </div>
</div>